.btn-prev,
.btn-next {
  border-radius: 5px;
  padding: 4px 15px;
  outline: none;
  //   border: none;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
