.btn-prev,
.btn-next {
  &:hover {
    background-color: rgb(101, 101, 221);
  }
  border-radius: 10px;
  padding: 4px 15px;
  outline: none;
  border: solid 1px rgb(204, 191, 191);
}

.btn-prev-none {
  border-radius: 10px;
  padding: 4px 15px;
  outline: none;
  border: solid 1px rgb(204, 191, 191);
}

.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin: 10px 0;
}

.image-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  object-fit: cover;
  margin: 0 auto;
}

td {
  vertical-align: middle;
}

.table-custom {
  max-width: 90%;
  margin: 0 auto;
}
